@model FooterModel

@using Nop.Core.Domain.Topics

@{
	var footerLinks = new List<(bool Condition, string RouteName, string TranslationKey)> {
				(Model.SitemapEnabled && Model.DisplaySitemapFooterItem, "Sitemap", "Sitemap"),
				(Model.DisplayContactUsFooterItem, "ContactUs", "ContactUs")
	};

	var topics = Model.Topics?.Where(x => x.IncludeInFooterColumn1).ToList() ?? new List<FooterModel.FooterTopicModel>();
}

@if (topics.Any() || footerLinks.Any(link => link.Condition))
{
	<nav class="content-box">
		<h2>@T("Footer.Information")</h2>
		<ul>
			@foreach (var topic in topics)
			{
				<li>
					<a href="@(Url.RouteUrl<Topic>(new { SeName = topic.SeName }))">@topic.Name</a>
				</li>
			}
			@foreach (var link in footerLinks.Where(link => link.Condition))
			{
				<li>
					<a href="@Url.RouteUrl(link.RouteName)">@T(link.TranslationKey)</a>
				</li>
			}
		</ul>
	</nav>
}