@model FooterModel

@using Nop.Core.Domain.Topics

@if (Model.Topics.Count()>0 || Model.DisplaySitemapFooterItem || Model.DisplayContactUsFooterItem) {
	<nav class="content-box">
		<h2>@T("Footer.Information") </h2>
		<ul>
			@foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
			{
				<li>
					<a href="@(Url.RouteUrl<Topic>(new { SeName = topic.SeName }))">@topic.Name</a>
				</li>
			}
			@if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
			{
				<li>
					<a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a>
				</li>
			}
			@if (Model.DisplayContactUsFooterItem)
			{
				<li>
					<a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a>
				</li>
			}
		</ul>
	</nav>
}